body{
  font-family:'Poppins', sans-serif;
}

#intro{
  text-align:center;
  font-size: 48px
}
.jumbotron#banner {
  background-color: #e9ecef;
  color: white;
  background-image:url("../img/landing.jpg");
  background-size: 1800px 700px;
  border-radius:0;
  
}
.breakfast {
  position: relative;
  text-align: center;
  margin: 0;
}
.centered-breakfast {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}
.lunch {
  position: relative;
  text-align: center;
  margin: 0;
}
.centered-lunch {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}
.dinner {
  position: relative;
  text-align: center;
  margin: 0;
}
.centered-dinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
}
.banners {
  margin-top: -33px;
}
.fastfood {
  margin-top: 100px;
}
.jumbotron#menu {
  color: white;
  background-image:url("../img/foodsBg.jpg");
  height:600px;
  margin-top:50px;
  border-radius:0;
}
.jumbotron#inner {
  border-radius:0;
  background-color:white;
  margin-top:30px;
  height:400px;
  padding:0;
  margin-bottom:0;

}
/*----- Tabs -----*/
.tabs {
  margin-top:0px;
}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links li {
	margin:0px 5px;
	float:left;
	list-style:none;
}

.tab-links a {
	padding:15px 110px;
	display:inline-block;
	background:#e9ecef;
	font-size:16px;
	font-weight:600;
	color:#4c4c4c;
	transition:all linear 0.15s;
}

.tab-links a:hover {
	background:#f15b29;
	text-decoration:none;
}

li.active a, li.active a:hover {
	background:#fff;
	color:#4c4c4c;
}

/*----- Tab Content -----*/
.tab-content {
	padding:20px;
	justify-content:space-evenly;
  background:#fff;
  margin-left: auto;
  margin-right: auto;
  display:flex;
 
}

.tab {
	display:none;
}

.tab.active {
	display:block;
}
.comment-box {
  width: 950px;
  padding: 100px;
  border: 1px solid gray;
  box-shadow: #4c4c4c;
  margin:auto;
}
.line{
  border-left: 6px solid gray;
  height: 70px;
}

.jumbotron#subscribe {
  color: white;
  background-image:url("../img/subscribe.jpg");
  height:300px;
  margin-top:50px;
  border-radius:0;
}

#subscribe-h3{
  text-align: center;
  margin-top:3opx;
}

.input {
  justify-content: space-around;
  margin-top:50px;
}


.button {
  height: 44px;
  border: none;
}

  
#email {
  width: 600px;
  background: #FDFCFB;
  font-family: inherit;
  color: #737373;
  letter-spacing: 1px;
  text-indent: 5%;
  border-radius: 5px 0 0 5px;
  opacity:0.5;
}


#submit {
  width: 100px;
  height: 46px;
  background: #f15b29;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}



